<html>

<head>
    <meta charset="utf-8" />
    <title>Coastr app</title>

    <script src="https://api.tiles.mapbox.com/mapbox-gl-js/v1.6.0/mapbox-gl.js"></script>
    <link href="https://api.tiles.mapbox.com/mapbox-gl-js/v1.6.0/mapbox-gl.css" rel="stylesheet" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <link rel="stylesheet" type="text/css" href=" {{ url_for('static', filename='styles/map_styling.css') }} " />
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

</head>

<body class="body">

    <div id='map' style='width: 100%; height: 80%;'></div>

    <div id="after-map">
        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <div id='filters'>
                        <div class="custom-control custom-switch">
                            <input type="checkbox" class="custom-control-input" id="sights_visible">
                            <label class="custom-control-label" for="sights_visible">Show sights from beaches</label>
                        </div>

                        <div class="custom-control custom-switch">
                            <input type="checkbox" class="custom-control-input" id="show_coastline">
                            <label class="custom-control-label" for="show_coastline">Show coastline</label>
                        </div>

                        <div class="custom-control custom-switch">
                            <input type="checkbox" class="custom-control-input" id="show-intersections">
                            <label class="custom-control-label" for="show-intersections">Show intersections</label>
                        </div>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="slidecontainer">
                        <p>How far are you willing to walk?</p>
                        <input type="range" min="0" max="100" value="20" class="slider" id="walk-range" disabled>
                    </div>
                    <span id="slider-val"></span>
                </div>
                <button id="apply-filters" type="button" class="btn btn-info" disabled>Apply filters</button>
            </div>
        </div>

        <div id='footer' class="float-right">
            <span id='author'>Tomas Mizera</span>
            <a href="https://github.com/fiit-pdt-2019/gis-project-tomasMizera" class="badge badge-warning">GitHub</a>
        </div>

        <div id="debug" class="fixed-bottom">
            <span id="mouse"></span>
        </div>
    </div>

    <script type="text/javascript" src="{{ url_for('static', filename='scripts/main.js') }}"></script>
</body>

</html>