<html>

<head>
    <meta charset="utf-8" />
    <title>Coastr app</title>

    <script src="https://api.tiles.mapbox.com/mapbox-gl-js/v1.6.0/mapbox-gl.js"></script>
    <link href="https://api.tiles.mapbox.com/mapbox-gl-js/v1.6.0/mapbox-gl.css" rel="stylesheet" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <link rel="stylesheet" type="text/css" href=" {{ url_for('static', filename='map_styling.css') }} " />

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

</head>

<body>
    <div class="custom-control custom-switch">
        <input type="checkbox" class="custom-control-input" id="sights_visible">
        <label class="custom-control-label" for="sights_visible">Show sights from beaches</label>
    </div>

    <div class="custom-control custom-switch">
        <input type="checkbox" class="custom-control-input" id="show_coastline">
        <label class="custom-control-label" for="show_coastline">Show coastline</label>
    </div>

    <div id='map' style='width: 100%; height: 80%;'></div>

    <span id="mouse"></span>

    <script type="text/javascript" src="{{ url_for('static', filename='scripts/conf.js') }}"></script>]
</body>
</html>